---
import Layout from "@/layouts/Layout.astro";
import { Editor } from "@/components/editor";
import type { PartialBlock } from "@blocknote/core";
import { ArticleMetaForm } from "@/components/forms/article-meta-form";
import {
  Collapsible,
  CollapsibleContent,
  CollapsibleTrigger,
} from "@/components/ui/collapsible";

const params = Astro.params;

// cast params to Params
const articleId = params.articleId as string;

const pb = Astro.locals.pb;

const article = await pb.collection("posts").getOne(articleId);

const initialContent = article.content as PartialBlock[];

// check if image already exists and add to metaform
const fileName = article.image;
const imageUrl = pb.getFileUrl(article, fileName);
---

<Layout title="ArticleId">
  <article class="md:px-8 px-4 h-full">
    {/* todo: extract http-logic for simple use and better layout */}
    <div class="ml-12 mt-[-50px] mb-4 z-0">
      <ArticleMetaForm
        client:only="react"
        articleId={article.id}
        initialTitle={article.title}
        initialDescription={article.description}
        initialImageUrl={imageUrl}
      />
    </div>
    <Editor
      client:only="react"
      initialContent={initialContent}
      articleId={article.id}
    />
  </article>
</Layout>
